<h3>GeneratorLuckyNumber</h3>
<br/>

<hr/>

<p class="test-success h3" Variant="Typography.Title3">@Title</p>

<FluentButton Onclick="@GenerateNumber" Appearance="Appearance.Accent">Generate Lucky Number</FluentButton>

@if (LuckyNumber > 0)
{
    <p class="p-2">Lucky Number - @LuckyNumber</p>
}

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    public int LuckyNumber { get; set; } = 0;
    
    public void GenerateNumber()
    {
        Random rnd = new();
        LuckyNumber = rnd.Next(1, 100);
    }
}
